[submodule "lib/oauth_simple"]
	path = lib/oauth_simple
	url = git@github.com:dansam100/oauthsimple.git
[submodule "lib/common"]
	path = lib/common
	url = git@github.com:dansam100/common.git
[submodule "lib/doctrine2-orm"]
	path = lib/doctrine2-orm
	url = git@github.com:dansam100/doctrine2.git
